.loginContainer{
  max-width: 57.8rem;
  margin: auto;
  width: 80%;
  .loginContainerTitle{
    display: flex;
    margin-bottom: var(--padding40);
    justify-content: space-between;
    .titleIcon{
      display: flex;
      gap: 16px;
    }
  }
  .inputs{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: var(--padding56);
  }
  .reset_btn{
    text-align: right;
    place-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    gap: 6px;
    align-content: flex-end;
    color: var(--base-second-color);
    touch-action: auto;
    border: none;
    width: fit-content;
    cursor: pointer;
    &:hover {
      background-color: var(--background);
    }
    font-size: 14px;
    font-weight: 700;
  
    &:active {
      color: var(--backgroung-blue);
    }
  }

  .button{
    display: flex;
    gap: 6px;
  }

  .login_buttons{
    width: 100%;
    display: flex;

    margin-top: var(--padding40);
    gap: 12px;
  }
  .svg-color {
    color: var(--background);
  }
}

