.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s all linear;
  border-radius: .4rem;
}
//
//variants
.primary {
  background-color: var(--base-color);
  color: var(--primary-label);

  &:hover {
    background-color: var(--hover-main);

  }
  &:active{
    background-color: #023D65;
  }
}
.secondary {
  background-color: var(--primary-label);
  color: var(--base-color);
  border: 1px solid var(--base-color);

  &:hover {
    background-color: var(--hover-secondary);
  }
}
//icon button can be here

//sizes
.normal {
  padding: var(--padding16) var(--padding32);
  font-size: 2rem;
  line-height: 2.4rem;
}
.medium{
  padding: var(--padding14) var(--padding32);
  font-size: 1.6rem;
  line-height: 2rem;
}
.small {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: var(--padding12) var(--padding22);

}
.extraSmall{
  padding: var(--padding8) var(--padding24);
  font-size: 1.4rem;
  line-height: 1.6rem;
}

