.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: 500;
  font-size: 1.5rem;
  padding: 1.6rem 2.7rem;
  transition: 0.2s all linear;
  text-transform: uppercase;
  border-radius: 1rem;
}

.primary {
  background-color: #18A0FB;
  color: white;
  border: .1rem transparent solid;

  &:hover {
    background-color: white;
    color: #18A0FB;
    border: .1rem solid #18A0FB;

  }
}

.secondary {
  background-color: white;
  color: #18A0FB;
  border: .1rem solid #18A0FB;

  &:hover {
    background-color: #18A0FB;
    border: .1rem solid transparent;
    color: white;
  }
}

//.large {
//  padding: 2rem 5rem;
//  font-size: 2rem;
//  height: 8rem;
//}
//
//.medium {
//  padding: 1.5rem 4rem;
//  font-size: 1.7rem;
//  height: 7rem;
//}

