.contextMenuContainer{
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid black;
  position: absolute;
  overflow: hidden;
  width: 20rem;
  top: 7rem;
  right: .5rem;
  background-color: #FFFFFF;
}