.profileContainer{
  min-height: 70vh;
  padding: 1rem;

  .profileView {
    gap: 5rem;
    margin: 2rem;
    display: flex;
    flex-direction: row;
    min-height: 50vh;

    .leftContainer {
      width: 30%;
      display: flex;
      flex-direction: column;
      align-items: center;

      .imageContainer {
        position: relative;
        width: 200px;
        height: 200px;
        overflow: hidden;
        border-radius: 50%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;

        }
      }

      .underImagefield {
        width: 100%;

        .field {
          margin: 2rem auto 0 auto;
          width: 50%;
          background-color: #18A0FB;
          height: 2rem;
        }
      }
    }

    .rightContainer {
      width: 50%;
      .rightContainerFields {
        width: 100%;
        display: flex;
        gap: 2rem;
        margin-bottom: 2rem;
        flex-direction: column;
        .field {
          background-color: #18A0FB;
          height: 2rem;

        }
      }


    }
  }
}