.toggleSwitch {
  position: relative;
  width: 50px;
  height: 25px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);

  .switchLabel {
    position: absolute;
    width: 100%;
    height: 25px;
    background-color: var(--dark);
    border-radius: 25px;
    cursor: pointer;
    border: 3px solid var(--dark);

    .checkbox {
      position: absolute;
      display: none;

      &:checked {
        ~ {
          .slider {
            background-color: var(--light);

            &::before {
              -ms-transform: translateX(20px);
              transform: translateX(20px);
              background-color: var(--dark);
              -webkit-box-shadow: none;
              box-shadow: none;
            }
          }
        }
      }
    }

    .slider {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      -webkit-transition: 0.3s;
      transition: 0.3s;

      &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 3px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
        box-shadow: inset 8px -3px 0px 0px var(--light);
        background-color: var(--dark);
        -webkit-transition: 0.3s;
        transition: 0.3s;
      }
    }
  }
}



