.langChanger {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  overflow: hidden;
  color: #011422;
  padding: 10px 15px;
  border-left: 5px transparent solid;
  white-space: nowrap;

  p{
    font-weight: 700;

  }
  &:hover{
    background-color: var(--base-third-color);
    border-left-color: var(--base-color);
    box-sizing: border-box;
    color: #FFFFFF;
  }
}
