@import 'scss-reset/_reset.scss';

body[data-theme="light"] {
  --back: #fff
}

body[data-theme="dark"] {
  --back: #000
}

html {
  font-size: 10px;
  font-family: 'Montserrat', sans-serif ;
  font-style: normal;
  font-weight: 500;
  h1 {
    font-size: 5.6rem;
    line-height: 8rem;
    font-weight: 400;
  }

  h2 {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 7.2rem;
  }

  h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
  }
  p{
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
  }
  a{
    color: white;
    font-size: 2rem;
    text-decoration: none;
  }
}
