.iconButtonContainer{
  width: 4.8rem;
  height: 4.8rem;
  background-color: var(--base-color);
  border-radius: 4px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}