.container {
  max-width: 200rem;
  padding: 0 2rem;
  margin: 0 auto;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .buttons {
    display: flex;
    align-items: center;

    .button {
      width: 19rem;
      height: 4rem;
    }

    .contextLink {
      font-size: 2rem;
      padding: .5rem;

      &:hover {
        color: #18A0FB;
      }

    }
  }
}