.subjects {
  //overflow-y: scroll;
  //min-height: 100%;
  width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  @media (min-width: 1300px) {
    grid-template-columns: repeat(2, 1fr);
  }
}