@import "src/app/variables";
.authLayout{
  width: 100%;
  height: 100vh;
  display: flex;
  .auth_children{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-top: 8vw
  }
  .auth_logo{
    background-color: $base-background;
    display: flex;
    position: relative;
    width: 50%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .auth_fqu{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  @media screen and (max-width: 375px){
    .auth_logo{
      display: none;
    }
    .auth_children{
      width: 100%;
      padding-top: 25vw;
    }
  }
}