.constant {
  transition: all 0.3s ease-out;
  border-right: 1px #7E7E7E solid;

  .sideBarContainer {
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    transition: all 0.3s ease-out;
    color: white;
  }

}

.open {
  width: 25rem;
}

.close {
  width: 8rem;
}