.container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem 0;
  height: 6rem;
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  .left{
    text-align: center;
  }
  .right{
    display: flex;
  }
}