.container{
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 1rem;
  border-top: 1px solid black;
  height: 6rem;
  .left{
    text-align: center;
  }
  .right{

  }
}