.websiteLayout {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 6rem);

  .mainContainer {
    display: flex;
    height: calc(100vh - 6rem);
    .childrenContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;

    }
  }


}