.layoutContainer {
  display: flex;
  height: 100vh;
  width: 100%;
  color: var(--color);
  background-color: var(--background);
  .mainLayout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
    //padding: 0 2rem;
    @media screen and (max-width: 1440px) {
      max-width: 100rem;
    }
  }

  .childrenLayout {
    width: 100%;
    //overflow-y: scroll;
  }
}