.layoutContainer{
  display: flex;
  height: 100vh;
  width: 100%;
  .childrenLayout{
    display: flex;
    border: 1px saddlebrown solid;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;
  }
}