.newsCard {
  .title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color);
    line-height: 3.6rem;
    margin-bottom: 2rem;
  }

  .description {
    color: #7E7E7E;
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 100rem;
  }
}