@mixin ItemStyle {
  display: flex;
  font-size: 2rem;
  gap: .5rem;
  color: #7E7E7E;
  white-space: nowrap;
  &:hover {
    color: #18A0FB;
  }
}

.simple {
  @include ItemStyle;
  cursor: pointer;
  min-height: 2.5rem;
}

.appear {
  overflow: hidden;
}

