@mixin ItemStyle {
  display: flex;
  font-size: 3rem;
  margin-left: 1rem;
  gap: .5rem;
  color: #7E7E7E;
  &:hover {
    color: #18A0FB;
  }
}

.simple {
  cursor: pointer;
  height: 3.5rem;
  @include ItemStyle;
}
